<nav class="navbar navbar-expand-md navbar-dark nav_background_color">
    <div class="container-fluid ">
        {{ $title := print .File.Path }}
        {{ $title := replace $title "\\" "/"  }}
        {{ $title := replace $title "_index.md" "" }}
        {{ $title := replace $title ".md" ""  }}
        {{ $title := substr $title 0 -1 }}
        <a class="navbar-brand nav_path_text nav_text_color_1" href="/">amelia@mysteriousfox: </a>

        <span class="navbar-text nav_path_text nav_text_color_2">
            ~/{{ print $title}} <span class="nav_text_color_3"> $ </span><span class="blinker">_</span>
        </span>

        <button class="navbar-toggler ms-auto" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navBarLinks" 
        aria-controls="navbarNav" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navBarLinks">
            <div class="navbar-nav ms-auto top_menu_link">
                {{ $SavedPermalink := .Permalink }}
                {{ range .Site.Menus.main }}
                <a class="nav-item nav-link {{if in $SavedPermalink .URL }}active {{end}}" href="{{ .URL }}">
                {{ if .Pre }}
                {{ $icon := printf "<i class=\"fi fi-%s\"></i>" .Pre | safeHTML }}
                {{ $icon }}
                {{ end }}
                {{ $text := print .Name | safeHTML }}
                {{ $text }}
                </a>
                {{ end }}
            </div>
        </div>
    </div>
  </nav>
